/*****************  Web Fonts *****************/
 @font-face {
    font-family: 'RobotoRegular';
    src: url('Roboto/Roboto-Regular-webfont.eot');
    src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('Roboto/Roboto-Italic-webfont.eot');
    src: url('Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('Roboto/Roboto-Italic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto/Roboto-Bold-webfont.eot');
    src: url('Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('Roboto/Roboto-BoldItalic-webfont.eot');
    src: url('Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto/Roboto-Condensed-webfont.eot');
    src: url('Roboto/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Condensed-webfont.woff') format('woff'),
         url('Roboto/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('Roboto/Roboto-CondensedItalic-webfont.eot');
    src: url('Roboto/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('Roboto/Roboto-BoldCondensed-webfont.eot');
    src: url('Roboto/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('Roboto/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('Roboto/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('Roboto/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto/Roboto-Thin-webfont.eot');
    src: url('Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('Roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('Roboto/Roboto-ThinItalic-webfont.eot');
    src: url('Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('Roboto/Roboto-Light-webfont.eot');
    src: url('Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Light-webfont.woff') format('woff'),
         url('Roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('Roboto/Roboto-LightItalic-webfont.eot');
    src: url('Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('Roboto/Roboto-Medium-webfont.eot');
    src: url('Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('Roboto/Roboto-MediumItalic-webfont.eot');
    src: url('Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('Roboto/Roboto-Black-webfont.eot');
    src: url('Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Black-webfont.woff') format('woff'),
         url('Roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('Roboto/Roboto-BlackItalic-webfont.eot');
    src: url('Roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('Roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('Roboto/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #363636;
	background-image: url('../img/css/debut_dark.png');
	font-family: 'RobotoThin', Arial, sans-serif;
}

h1, h2, p, li, a, span, .navbar .nav>li>a:hover {
	color: #FFFFFF;
}

body, a, p, li, blockquote {
	font-size: 17.5px;
}

hr+blockquote>p{
	font-size: 22px;
	font-weight: bolder;
}

p a, blockquote a {
	color: #00FFFF;
}

p {
	text-indent: 20px;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.navbar .nav>li>a{
	color: #FFFFFF;
	font-size: 16px;
	text-shadow: 0 1px 0 #333333;
	padding-top: 25px;
	font-weight: bolder;
}

.navbar .nav>li {
	width: 75px;
	height: 60px;
	text-align: center;
}

.navbar .nav>.active {
	background-color: #e5e5e5;
}

.navbar .nav>.active>a {
	text-shadow: 0 1px 0 #FFFFFF;
}


.noStyle {
	text-decoration: none;
	color: #FFFFFF;
}

.noStyle :hover {
	text-decoration: none;
	color: #FFFFFF;
}

.noStyle :visited {
	text-decoration: none;
	color: #FFFFFF;
}


.navbar {
	height: 60px;
	background-color: #5B5B5B;
	-webkit-box-shadow: inset 0 5px 15px 10px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 5px 15px 10px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 5px 15px 10px rgba(0, 0, 0, 0.125);
}

.header {
	width: 100%;
	text-align: center;
	height: 150px;
	padding-top: 50px;
	background-color: #363636;
	background-color: rgba(0, 0, 0, 0.25);
}

#brand {
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-top: 16px;
}

#brand>a {
	font-size: 28px;
	font-weight: bolder;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #333333;
}

.content{
	padding: 20px;
}

#disqus_thread{
	margin-top: 45px;
	padding: 20px;
	background-color: #363636;
	background-color: rgba(255, 255, 255, .5);
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#main {
	margin-top: 60px;
}

