<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="css/layout.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-fixed-top">
				<div id="brand"><a class="noStyle" href="/">SwarmBots</a></div>
				<ul class="nav pull-right">
				  <li {% if page.type == 'blog' %} class="active" {% endif %}><a href="/blog/">Blog</a></li>
				  <li {% if page.type == 'team' %} class="active" {% endif %}><a href="/team/">Team</a></li>
				  <li {% if page.type == 'about' %} class="active" {% endif %}><a href="/about/">About</a></li>
				</ul>
			</div>
			<div class="container" id="main">
				<div class="header">
					<h2> social web + robotics</h2>
				</div>
				{{ content }}
			</div>
		</div>
	</body>
</html>